body {
    background-color: #EDF2FA;
}

.messages-container__content {
    display: flex;
}

.message-container__card {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #e0dede;
    flex: 1;
    margin: 10px;
    padding: 10px 15px;
}

.messagges-container__list ul{
    padding: 0px;
}

.messagges-container__list li{
    display: flex;
    list-style:  none;
    border-bottom: 1px solid #d8e2ef;
    padding: 8px;
}

.icon-list {
    height: 30px;
    width:30px;
    border-radius: 100%;
    background-color: #E6EFFC;
    padding: 3px;
}

.messagges-container__list li span{
    display: flex;
    align-items: center;
    margin-left: 10px;
}


/* https://themes.getbootstrap.com/preview/?theme_id=33181 */

/* https://www.iconfinder.com/search?q=sent */