* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDF2FA;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 20px;
}

.messages-container__content {
    display: flex;
    flex: 1;
}

h1.messages-container__title {
    padding: 0 40px 40px 40px;
}

.message-container__card {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #e0dede;
    flex: 1;
    margin: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.messagges-container__list {
    flex: 1;
}

.messagges-container__list-title_container {
    display: flex;
    align-items: center;
}

ul {
    /*flex: 1;*/
    height: 440px;
    overflow: auto;
}

.messagges-container__list-title {
   flex: 1;
}

.messagges-container__list-title_container select {
    border-radius: 3px;
    padding: 5px 25px 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #344050;
    background-color: #FFFFFF;
    border: 1px solid #d8e2ef;
    background-image: url(/assets/icons/arrow_icon.svg);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    appearance: none;
    -webkit-appearance: none;
    background-position: right 5px center;
}

.messagges-container__list-title_container select:disabled {
    cursor: not-allowed;
}

.messagges-container__list ul{
    padding: 0px;
}

.messagges-container__list li{
    display: flex;
    list-style:  none;
    border-bottom: 1px solid #d8e2ef;
    padding: 8px;
}

.icon-list {
    height: 30px;
    width:30px;
    border-radius: 100%;
    background-color: #E6EFFC;
    padding: 3px;
}

.messagges-container__list li span{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

textarea {
    border: 1px solid #d8e2ef;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
   
}
textarea::placeholder {
    color: #999999;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #2c7be5;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.messagges-container__send-messages {
    height: 255px;
}


/* https://themes.getbootstrap.com/preview/?theme_id=33181 */

/* https://www.iconfinder.com/search?q=sent */